<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405668180913-srioaev9r23cmphmgo63uj3l0vhpc9q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405668180913-srioaev9r23cmphmgo63uj3l0vhpc9q9</string>
	<key>API_KEY</key>
	<string>AIzaSyAF41w7RX_pck2LU4xqPzzVUNhb5tsDKZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405668180913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentorx</string>
	<key>PROJECT_ID</key>
	<string>mentorx-25a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorx-25a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405668180913:ios:92cac9ad1b6b1ca8944390</string>
</dict>
</plist>